
.glass{
    background: linear-gradient(135deg,rgba(255,255,255,0.3),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px; border: 5px solid rgba(255, 255, 255, .3);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}
div.glass { margin:auto; }

button.glass{
   cursor:pointer;
    width: 150px;
    height: 35px;
}
html,body { min-height:100%; height:100%;}

body {
    background-image:url('background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    color:#000000;
    padding:0; margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
div#cardsDivIndex {
    background-color:#000000;
    width: 100px;
    height: 100px;
    margin: auto;
}

img.logo { display:block; margin:auto; }

div.outerContents { display:block; width:100%; height:100%; background-image:linear-gradient(#5979a0,#7fa1ba);
    margin: auto; }
/*#231c29,#431e3f (the purple)  #5979a0,#7fa1ba (the blue)*/
div.contents { display:block; margin:auto; text-align:center;}
div.midContents {display:block;width:max-content;padding:5px;margin: 10% auto auto;}
div.cardsDiv { text-align:center;}
div#cardsDiv {text-align:center; width:max-content; margin:auto; font-weight:bold; font-size:18pt;}
div.adminButtons {position:absolute;bottom:5px;left:5px;background-color: #090930}
div.pageBottom { background-color:#090930; position:absolute; height:300px; width:100%; bottom:-300px }
div.outerbox { width:400px; height: 40px; text-align: left; border-color:#5979a0; border-style:solid; border-width:5px;
    margin:auto; padding-left: 10px; padding-bottom:10px;
    background-color:#294970; border-radius:40px; }

input.innerbox { border:none; width:420px; height:40px; /*color:#7fa1ba;*/ color:#294970;
    /*background-color:#294970*/ background-color:rgba(255, 255, 255, 0); font-weight:bold; font-size:24pt;}
.innerbox:focus { outline:none; }


button.button { width:150px; height:35px; border-color:#dfdcc9; border-style:solid; background-color:#85a5ba; font-weight:bolder;}
button.mainMenu { height:50px; width:200px; padding:5px; background-color:#294970; color:#7fa1ba; border-radius:40px; font-size:16pt; }
canvas.adminButtons { position:absolute; bottom:5px; left:5px; }
img#settingsImage { cursor:pointer; }

td.rj { text-align: right; }
td.center { display:table-cell; text-align:center; }





/* Simple slider animation */
.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 6px;
    border-radius: 3px;
    background: #2b2d32;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #d8d7d7;
    border: 4px solid #1d1e22;
    transition: all 0.3s ease;
}
.slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 75px;
    height: 40px;
    background: #212221;
    background: linear-gradient(to right,#4a00e0, #8e2de2);
    border-radius: 50px;
    position: absolute;
    z-index: 101;
    margin-left: 5px;
    margin-top:5px;
    top: 5px;
}
.container input {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}
.container input::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(7px, -50%);
    width: 85%;
    height: 70%;
    background: rgb(79, 159, 245);
    border-radius: 50px;
}
.container input::after{
    content: "";
    position: absolute;
    top: 50%;
    transform:translate(7px,-50%);
    width: 25px;
    height: 25px;
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    opacity: 0.4;
    border-radius: 50px;
    transition: all 0.4s;
}
.container input:checked::after{
    transform: translate(170%,-50%);
    opacity: 1;
}
div.outerContents {
    display:block;
    width:100vw;
    height:100vh;
    background-image:linear-gradient(#5979a0,#7fa1ba);
    margin: auto;
}
